th a {
    color: #2b669a;
}
th a:hover {
    color: #2b669a;
    text-decoration: underline;
}

.dynatable-search {
    float: right;
    margin-bottom: 10px;
}

.dynatable-pagination-links {
    float: right;
    margin-right: 12%;
}

.dynatable-record-count {
    display: block;
    padding: 5px 0;
    margin-left: 13%;
}

.dynatable-pagination-links span,
.dynatable-pagination-links li {
    display: inline-block;
}

.dynatable-page-link,
.dynatable-page-break {
    display: block;
    padding: 5px 7px;
}

.dynatable-page-link {
    cursor: pointer;
}

.dynatable-active-page,
.dynatable-disabled-page {
    cursor: text;
}
.dynatable-active-page:hover,
.dynatable-disabled-page:hover {
    text-decoration: none;
}

.dynatable-active-page {
    background: #71AF5A;
    border-radius: 5px;
    color: #fff;
}
.dynatable-active-page:hover {
    color: #fff;
}
.dynatable-disabled-page,
.dynatable-disabled-page:hover {
    background: none;
    color: #999;
}

table {
    max-width: 75% !important;
    margin: auto;
}

.dynatable-per-page {
    margin-left: 13%;
}
